:root {
  --color-grey-200: #e5e7eb;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;

  --color-grey-600: #4b5563;
  --color-grey-700: #374151;

  --backdrop-color: rgba(255, 255, 255, 0.1);

  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
}

div {
  margin: auto;
}

p {
  text-align: center;
}

.mainFormRow input {
  width: 10vw;
}

.mainFormRow {
  display: grid;
  align-items: center;
  grid-template-columns: 24rem 1fr 1.2fr;
  gap: 2.4rem;

  padding: 1.2rem 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-100);
  }

  &:has(button) {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
  }
}
.btn {
  background: none;
  border: none;
  padding: 0.4rem;
  border-radius: var(--border-radius-sm);
  transform: translateX(0.8rem);
  transition: all 0.2s;
  position: absolute;
  top: 1.2rem;
  right: 1.9rem;
}

.label {
  font-weight: 500;
}

.error {
  font-size: 1.4rem;
}

.styledTable {
  padding: 1.2rem;
  font-size: 1.4rem;
  border-radius: 26px;
  background: linear-gradient(45deg, #2a2929, #232222);
  box-shadow: 14px -14px 28px #1c1c1c, -14px 14px 28px #393737;

  overflow: hidden;
}

.styledHeader {
  padding: 1rem;
  display: flex;
  font-size: 0.9rem;
  gap: 3rem;
  background-color: var(--color-grey-50);
  border-bottom: 1px solid var(--color-grey-100);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: 600;
  color: var(--color-grey-600);
}

.styledRow {
  padding: 0.2rem 0.8rem;
  position: relative;
}
.effect5 {
  border-radius: 14px;

  background: linear-gradient(315deg, #2a2929, #232222);
  box-shadow: -5px -5px 10px #1c1c1c, 5px 5px 10px #393737;
}

.tableRow {
  padding: 0 1rem;
  height: 4rem;
  padding-bottom: 2rem;
  /* transition: transform 300ms ease-out; */
  transition: all 0.5s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.tableRow:hover {
  cursor: pointer;

  /* transform: translateY(-5%); */
  transform: scale(1.05);

  border-radius: var(--border-radius-lg);
}

.styledBody {
  margin: 0.4rem 0;
  height: 300px;
}
.styledBody::-webkit-scrollbar {
  display: none;
}
.styledToggle {
  background: none;
  border: none;
  padding: 0.4rem;
  border-radius: var(--border-radius-sm);
  transform: translate(-0.8rem, 0.8rem);

  & svg {
    width: 1rem;
    height: 1rem;
  }
}

.styledList {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -30%);
  padding: 0;
  list-style: none;
  box-shadow: var(--shadow-md);
  border-radius: var(--border-radius-md);
  background-color: var(--color-grey-500);
}
.styledButton {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.4rem;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  gap: 1.6rem;

  & svg {
    width: 1rem;
    height: 1rem;
    color: var(--color-grey-400);
    transition: all 0.3s;
  }
}

.styledButton > span {
  font-size: 1rem;
}

.spinner {
  margin: 4.8rem auto;

  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--color-brand-600) 94%, #0000)
      top/10px 10px no-repeat,
    conic-gradient(#0000 30%, var(--color-brand-600));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: 1.5s infinite linear;
}

.Img {
  display: block;
  width: 6.4rem;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5) translateX(-7px);
}
.empName {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sono";
}
.emp_id {
  font-family: "Sono";
  font-weight: 600;
  font-size: 1.2rem;
}
.StyledConfirmDelete {
  width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & p {
    margin-bottom: 1.2rem;
  }

  & div {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}
.styleModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2b2b2bcc;
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-lg);
  padding: 3.2rem 4rem;
  transition: all 0.5s;
}
.employeeSection {
  width: 100%;
  align-items: center;
  height: auto;
  overflow: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.employeeSection::-webkit-scrollbar {
  display: none;
}
.employeeSingle {
  width: 70%;
  padding: 0 2rem;
  height: 450px;
  overflow-y: scroll;
}
.employeeList {
  display: grid;
  grid-template-columns: 0fr 6fr;
  padding: 0 2rem;
  .Img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: auto;
  }
}

.elem1 {
  margin: 10px;
}
.elem2 {
  display: flex;
  text-align: center;
}

.elem2 button {
  background: #2d2d2d;
  font-size: 0.7em;
}

.menuContainer {
  position: relative;
  top: -3.5em;
}
.tableRow {
  width: 22vw;
}
.showImg {
  height: 100px;
  width: auto;
  margin: auto;
  display: flex;
}

/* skeleton */

.skeletonBlock {
  box-sizing: border-box;
  text-align: left;
}
.skeletonBlock > * {
  margin-bottom: 30px;
  display: block !important;
}

.skeletonBlock > .paragraph {
  margin-bottom: 10px;
  display: block !important;
}

.contentBlock {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  text-align: left;
}

.cardBlock {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: left;
}

.cardSkeleton > * {
  margin-bottom: 20px;

  text-align: center;
}

.cardSkeletonImage,
.cardImage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: baseline;
  gap: 10px;
  border-radius: 50%;
}

.cardImage > img {
  background: #000;
  border-radius: 50%;
}
.cardSkeletonImage {
  display: flex;
}
.cardSkeletonTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* spinner */

.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
.spinner-container {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 5rem;
}

/* tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 111;
  width: 100px;
  color: rgb(186, 186, 186);
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}
.hover-text:hover .tooltip-text {
  font-size: 0.9rem;
  visibility: visible;
}

#bottom {
  top: -19px;
  left: -8rem;
}

.hover-text {
  font-family: "Times New Roman", Times, serif;

  text-align: center;
}

.search {
  width: 100%;
  padding: 5px;
  text-align: center;
  display: flex;
  margin-bottom: 20px;
}
.tableSearch {
  margin-top: 0.5rem;
  height: 200px;
  overflow: auto;
  background: var(--backdrop-color);
  width: 100%;
  border-radius: 10px;
}
.tableSearch::-webkit-scrollbar {
  display: none;
}

/* search bar */

input {
  line-height: 1.5em;
  color: #171717;
}

.search-bar {
  display: flex;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  justify-content: center;
  max-width: 30em;
  flex-direction: column;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #171717 inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #171717;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
.search-container {
  display: flex;
}
.input-container {
  display: flex;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #2762f3;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}

input {
  color: #f1f1f1;
}

.search-bar input {
  box-shadow: 0 0 0 0.4em #f1f1f1 inset;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #3d3d3d;
  box-shadow: 0 0 0 0.1em #3d3d3d inset;
}
.search-btn {
  background: #f1f1f1;
}

/* filter button */

.btn-container {
  display: flex;
  width: 380px;
}
.btn-cat-container {
  display: flex;
  overflow-y: scroll;
  height: 4rem;
}

.filter-btn {
  white-space: nowrap;
  text-align: center;
}

.btn-cat-container::-webkit-scrollbar {
  display: none;
}

select {
  border: none;
  background: #242424;
  height: 30px;
}

/* responsive */

@media screen and (max-width: 1100px) {
  .homeLayout {
    width: 70vw;
  }
  .tableRow {
    width: 50vw;
  }
}

@media screen and (max-width: 590px) {
  .homeLayout {
    width: 90vw;
  }
  .styledBody {
    height: 60vh;
  }
  .tableRow {
    width: 72vw;
  }
  .employeeList p {
    font-size: 0.8rem;
  }
  .styledToggle {
    transform: translate(-0.8rem, 1.5rem);
    padding-top: 0;
  }
  .styledRow {
    padding: 0.5rem 0.8rem;
  }

  .styledHeader {
    gap: 4.5rem;
  }
  .search-container {
    width: 61vw;
  }

  .mainFormRow {
    grid-template-columns: 5rem 1fr 1.2fr;
    gap: 1.4rem;
    height: 4rem;
  }
  .mainFormRow input {
    width: 35vw;
  }
  .styleModal {
    width: 70%;
    padding: 4.2rem 1.8rem;
  }

  form {
    height: 50vh;
    overflow: scroll;
  }

  form::-webkit-scrollbar {
    display: none;
  }
}
